# .dockerignore

# Git
.git/
.gitignore
.gitattributes

# Docker
Dockerfile
.dockerignore
docker-compose.yml

# Local environment
.env
.env.backup
.env.example

# Node
node_modules/
npm-debug.log

# Laravel
storage/logs/*
storage/framework/sessions/*
storage/framework/cache/*
storage/framework/views/*
bootstrap/cache/*.php

# Vendor
vendor/

# IDE / OS files
.idea/
.vscode/
*.DS_Store
